#content_Main_Rectangle1 {
  top: 48px;
  position: absolute;
}

#content_Main_Rectangle1 {
  left: 0px;
  position: absolute;
}

#content_Main_Rectangle1 {
  width: 304px;
}

#content_Main_Rectangle1 {
  height: 604px;
}

#content_Main_Rectangle1 {
  z-index: 0;
}

#content_Main_Rectangle1 {
  border-style: solid;
}

#content_Main_Rectangle1 {
  border-width: 2px;
}

#content_Main_Rectangle1 {
  background-color: dimgray;
}

#content_Main_Paper1 {
  top: 50px;
  position: absolute;
}

#content_Main_Paper1 {
  left: 320px;
  position: absolute;
}

#content_Main_Paper1 {
  width: 500px;
}

#content_Main_Paper1 {
  height: 500px;
}

#content_Main_Paper1 {
  z-index: 1;
}

#content_Main_Paper1 {
  background-color: black;
}
